<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../../styles/base.css">
    <link rel="stylesheet" href="../../../styles/reset.css">

</head>
<header class="row">
    <h1>Best Books!</h1>
    <button id="dropbtn">
        <i class="fas fa-bars"></i>
    </button>
</header>
<div id="nav-content" class="column">
    <a href="/">Home Page</a>
    <a href="/searches/new">Search For a new Book</a>
    <a href="/books/show">See Your Books</a>
</div>